Alg1/c++Project/TestClass.h.gch
Android/MyApplication2/.idea/misc.xml
Android/MyApplication2/.idea/modules.xml
Android/MyApplication2/.idea/vcs.xml
Android/MyApplication2/.idea/dictionaries/oskar.xml
