Alg1/c++Project/TestClass.h.gch
Android/MyApplication2/.idea/misc.xml
Android/MyApplication2/.idea/modules.xml
Android/MyApplication2/.idea/vcs.xml
Android/MyApplication2/.idea/dictionaries/oskar.xml
c++Project/vlfeat-0.9.20/toolbox/

Android/menuTest/.idea/copyright/profiles_settings.xml
Android/menuTest/.idea/compiler.xml

Android/menuTest/.idea/gradle.xml
Android/menuTest/.idea/misc.xml
Android/menuTest/.idea/runConfigurations.xml
Android/menuTest/.idea/modules.xml
